# 向量数据库配置
VECTOR_DB_PATH = "./chroma_data"
CHUNK_SIZE=500
CHUNK_OVERLAP=50

# LLM 配置（使用deepseek）
LLM_API_KEY=你的apikey
LLM_BASE_URL=调用地址
LLM_MODEL=调用模型

# Embedding 配置（使用 Ollama 本地模型）推荐使用bge-m3:567m
EMBEDDING_MODEL=模型名称

# LLM 参数配置
TEMPERATURE=0.1
MAX_TOKENS=2000